{% extends 'authapp/base.html' %}

{% block content %}
    <form class="m-2" method="post" action="{% url 'authapp:login' %}">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" value="{{ next }}" name="next">
        {% endif %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Войти</button>
    </form>
    <button class="btn btn-info">
        <a href="{% url 'authapp:register' %}">
            Зарегистрироваться
        </a>
    </button>
    <button class="btn btn-info">
        <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/">
            Вход через Вконтакте
        </a>
    </button>
{% endblock %}